/*====  VARIABLES ============================ */
:root {
  --header-height: 3.75rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;
}

/* medium devices: 767 > */
.navigation {
  width: 430px;
  top: -3.5vh;
  height: 60px;
  background: rgb(230, 227, 227);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navigation ul {
  display: flex;
  width: 400px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}

.navigation ul li.active a .icon {
  transform: translateY(-18px);
}

.navigation ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(12px);
}

.indicator {
  position: absolute;
  top: -15%;
  left: 5%;
  width: 40px;
  height: 40px;
  background: var(--base-color);
  border-radius: 50%;
  border: 2px solid #fff;
  transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(75px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(87px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(87px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(86.5px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(86.5px * 4));
}

/* Image */

img {
  font-size: 5px;
}
